{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    KineApp
{% endblock %}

{% block body %}
    {% if not user.is_authenticated %}
        <div id="logo_index" class="text-center animated fadeInUp">
            <img src="{% static "images/logo.png" %}" class="img-fluid logo_image_index" style=" -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));" alt="Temporal Logo" >
            <div style="margin-bottom: 15px">
                <h1 class="display-2 logo_title_index" style="font-family: 'Montserrat'; text-shadow: 12px 12px 25px rgba(0,0,0,1);"><strong>KineApp</strong></h1>
                <p class="display-2 logo_title_index" style="font-family: 'Montserrat'; font-size: 35px; text-shadow: 12px 12px 25px rgba(0,0,0,1);"><strong>Un nuevo paradigma en la salud</strong></p>
            </div>
            <div class="google_center">
                <div id="my-signin2"></div>
            </div>
        </div>
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    {% else %}
        <div id="sidebar_row" class="row">
            <div class="col-md-4" style="padding-left: 25px">{% include "kinesioapp/users/sidebar.html" %}</div>
            <div id="data_content" class="col-md-8 data" >
            <div style="margin-top: 125px;">
                    <i class="fas fa-notes-medical fa-5x center-info white-text"></i>
                    {% if user.is_medic %}
                        <p class="text-center white-text" style="font-size:25px; padding: 5px;">Haz click sobre un paciente para observar su historial clínico.</p>
                    {% else %}
                        <p class="text-center white-text" style="font-size:25px; padding: 5px;">Haz click sobre un medico para observar tu historial clínico con el mismo.</p>
                    {% endif %}
            </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

