{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    KineApp
{% endblock %}

{% block body %}
    {% if not user.is_authenticated %}
        <div id="logo_index" class="text-center animated fadeInUp">
            <img src="{% static "images/logo.png" %}" class="img-fluid logo_image_index" alt="Temporal Logo" >
            <div style="margin-bottom: 15px">
                <h1 class="display-2 logo_title_index" ><strong>KineApp</strong></h1>
            </div>
            <div class="google_center">
                <div id="my-signin2"></div>
            </div>
        </div>
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    {% else %}
        <div id="sidebar_row" class="row">
            <div class="col-md-4" style="padding-left: 25px">{% include "kinesioapp/users/sidebar.html" %}</div>
            <div id="data_content" class="col-md-8 data" ></div>
        </div>
    {% endif %}

{% endblock %}

