{% load static %}
<script src="{% static 'js/clinical_session.js' %}"></script>

<div id="card_session" class="card animated slideInRight">
    <div class="card-header" style="margin: 0;">
        <h5 class="white-text card-title">Sesión del día {{ clinical_session.date }}</h5>
        <ul style="float:right">
            <i class="fas fa-times icon-card-header" onclick="close_session()"></i>
        </ul>
    </div>
    <div class="card-body">
        <div class="row" style="display:inline-block; height: 30%; margin-left: 15px;">
            <div class="card-title">
                <p>Observaciones: {{ clinical_session.description }}</p>
            </div>
        </div>
        <div class="row" style="height: 100%;">
            <div class="col">
                <i class="fas fa-arrow-circle-left prev"></i>
            </div>
            <div class="multiple-items col-lg-10">
                {% for image in clinical_session.image_set.all %}
                <a data-fancybox="preview" class="loader view overlay zoom " href="data:image/jpeg;base64,{{ image.content_as_base64 }}"><img src="data:image/jpeg;base64,{{ image.thumbnail_as_base64 }}" class="img-fluid z-depth-1" style="margin-bottom: 5px;"></a>
                {% endfor %}
            </div>
            <div class="col">
                <i class="fas fa-arrow-circle-right next"></i>
            </div>
        </div>
    </div>
</div>