{% load static %}
<script src="{% static "js/clinical_session.js" %}"></script>

<div id="card_session" class="card animated slideInRight">
    <div class="card-header" style="margin: 0;">
        <h5 class="white-text card-title">Sesión</h5>
        <ul style="float:right">
            <i class="fas fa-times icon-card-header" onclick="close_session()"></i>
        </ul>
    </div>
    <div class="card-body">
        <div class="row" style="display:inline-block; height: 30%; margin-left: 15px;">
            <div class="card-title">
                <h5>Descripción de la session</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i class="fas fa-arrow-circle-left prev"></i>
            </div>
            <div class="multiple-items col-lg-10">
                <a data-fancybox="preview" class="loader view overlay zoom " href="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" data-caption="Foto Ejemplo 2"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid z-depth-1" style="margin-bottom: 5px;" alt="thumbnail"></a>
                <a data-fancybox="preview" class="loader view overlay zoom " href="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" data-caption="Foto Ejemplo 3"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid z-depth-1" style="margin-bottom: 5px;" alt="thumbnail"></a>
                <a data-fancybox="preview" class="loader view overlay zoom " href="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" data-caption="Foto Ejemplo 1"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid z-depth-1" style="margin-bottom: 5px;" alt="thumbnail"></a>
                <a data-fancybox="preview" class="loader view overlay zoom " href="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" data-caption="Foto Ejemplo 4"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid z-depth-1" style="margin-bottom: 5px;" alt="thumbnail"></a>
                <a data-fancybox="preview" class="loader view overlay zoom " href="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" data-caption="Foto Ejemplo 5"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid z-depth-1" style="margin-bottom: 5px;" alt="thumbnail"></a>
                <a data-fancybox="preview" class="loader view overlay zoom " href="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" data-caption="Foto Ejemplo 6"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid z-depth-1" style="margin-bottom: 5px;" alt="thumbnail"></a>
                <a data-fancybox="preview" class="loader view overlay zoom " href="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" data-caption="Foto Ejemplo 7"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid z-depth-1" style="margin-bottom: 5px;" alt="thumbnail"></a>
                <a data-fancybox="preview" class="loader view overlay zoom " href="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" data-caption="Foto Ejemplo 8"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid z-depth-1" style="margin-bottom: 5px;" alt="thumbnail"></a>
                <a data-fancybox="preview" class="loader view overlay zoom " href="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" data-caption="Foto Ejemplo 9"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid z-depth-1" style="margin-bottom: 5px;" alt="thumbnail"></a>
            </div>
            <div class="col">
                <i class="fas fa-arrow-circle-right next"></i>
            </div>
        </div>
    </div>
</div>