<div id="card_history" class="card animated slideInRight">
    <div class="card-header dropdown">

        <h5 class="white-text" style="display: inline">Historia Clinica de {{ patient.last_name }} {{ patient.first_name }}</h5>
        <ul style="float: right; display: inline">
            {% if user.is_medic %}
            <a class="white-text" onclick="get_rutine({{ patient.pk }}, true)" style="margin-right: 10px;"><i class="fas fa-dumbbell"></i> Rutina  </a>
            {% endif %}
            <a class="dropdown-toggle icon-card-header white-text" id="timelapseButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px;">
                <i class="fas fa-history"></i>
                Timelapse
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="timelapseButton">
                <a class="dropdown-item text-center" onclick="open_timelapse('F', {{ patient.pk }})">Frontal</a>
                <a class="dropdown-item text-center" onclick="open_timelapse('B', {{ patient.pk }})">Trasera</a>
                <a class="dropdown-item text-center" onclick="open_timelapse('R', {{ patient.pk }})">Lado Derecho</a>
                <a class="dropdown-item text-center" onclick="open_timelapse('L', {{ patient.pk }})">Lado Izquierdo</a>
                <a class="dropdown-item text-center" onclick="open_timelapse('O', {{ patient.pk }})">Otro</a>
            </div>
            <i class="fas fa-times icon-card-header" onclick="close_clinical_history()" style="margin-right: 10px;"></i>
        </ul>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="text-center" style="margin-bottom: 20px;">
                    {% if patient.picture_base64 %}
                        <img src="data:image/jpeg;base64,{{ patient.picture_base64 }}" class="profile-pic img-fluid z-depth-1 rounded mx-auto d-block" draggable="false">
                    {% else %}
                        <i class="fas fa-user-md fa-8x" style="color: #355C7D; horiz-align: center"></i>
                    {% endif %}
                </div>
                <p class="card-text" style="font-size: 1.1rem;">Fecha de Nacimiento: {{ patient.birth_date|date:"j" }} de {{ patient.birth_date|date:"F, Y" }} </p>
                <p class="card-text" style="font-size: 1.1rem;">DNI: {{ patient.dni }} </p>
            </div>
            <div class="col-sm-6">
                <h6 class="card-text ">Sesiones:</h6>
                {% if sessions %}
                    <ul class="list-group list-group-flush scroll" id="listSession" style="display: block;">
                        {% for session in sessions %}
                            <li onclick="get_session({{ session.pk }})" class="list-group-item list-group-item-action waves-effect">{{ session.date|date:"j" }} de {{ session.date|date:"F, Y" }}
                                {% if session.created_by.user == request.user %}
                                    {% if session.created_by %}
                                        <span class="badge badge-default" style="float: right;">Creado por mí</span>
                                    {%  else %}
                                        <span class="badge badge-default" style="float: right;">Creado por: {{ session.created_by.user }}</span>
                                    {% endif %}
                                {%  else %}
                                    <span class="badge badge-default" style="float: right;">Creado por: Usuario Eliminado</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <i class="fas fa-list fa-3x text-center" style="display: block"></i>
                    <p class="card-text" style="font-size:15px; padding: 25px; text-align: center">
                        Todavía no hay sesiones regitradas sobre este paciente. Se debe utilizar la aplcación para agregar una nueva.
                    </p>
                {% endif %}

            </div>
        </div>

    </div>
</div>