{% regroup exercises|dictsort:"day" by day as day_list %}
<div id="card_routine" class="card animated slideInRight card_routine_medic" >
    <div class="card-header" style="margin: 0;">
        <h5 class="white-text card-title">Rutina</h5>
        <ul style="float:right">
            <i class="fas fa-times icon-card-header" onclick="close_routine()"></i>
        </ul>
    </div>
    <div class="card-body">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-monday-tab" data-toggle="pill" href="#pills-0" role="tab"
                   aria-controls="pills-home" aria-selected="true">Lunes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-tuesday-tab" data-toggle="pill" href="#pills-1" role="tab"
                   aria-controls="pills-profile" aria-selected="false">Martes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-wednesday-tab" data-toggle="pill" href="#pills-2" role="tab"
                   aria-controls="pills-contact" aria-selected="false">Miércoles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-thursday-tab" data-toggle="pill" href="#pills-3" role="tab"
                   aria-controls="pills-contact" aria-selected="false">Jueves</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-friday-tab" data-toggle="pill" href="#pills-4" role="tab"
                   aria-controls="pills-contact" aria-selected="false">Viernes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-saturday-tab" data-toggle="pill" href="#pills-5" role="tab"
                   aria-controls="pills-contact" aria-selected="false">Sábado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-sunday-tab" data-toggle="pill" href="#pills-6" role="tab"
                   aria-controls="pills-contact" aria-selected="false">Domingo</a>
            </li>
        </ul>
        <div class="tab-content pt-2 pl-1" id="pills-tabContent">
            {% for day in days_range %}
                {% if day == 0 %}
                    <div class="tab-pane fade show active" id="pills-{{day}}" role="tabpanel" aria-labelledby="pills-{{day}}-tab">
                {% else %}
                    <div class="tab-pane fade" id="pills-{{day}}" role="tabpanel" aria-labelledby="pills-{{day}}-tab">
                {% endif %}
            {% if day in active_days %}
                {% for day_group in day_list %}
                    {% if day_group.grouper == day %}
                        <div class="menu">
                            <div class="accordion">
                                <div class="accordion-group">
                                    {% for exercise in day_group.list %}
                                        <div class="accordion-heading area">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#exersice{{ exercise.pk }}">
                                                {% if exercise.done %}
                                                    <i class="far fa-check-circle"></i>
                                                {% else %}
                                                    <i class="far fa-times-circle"></i>
                                                {% endif %}
                                                {{ exercise.name }}
                                            </a>
                                        </div>
                                        <div class="accordion-body collapse" id="exersice{{ exercise.pk }}">
                                            <div class="accordion-inner">
                                                {% if exercise.video %}
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <video controls>
                                                            <source src="{{exercise.video.url}}" type="video/mp4">
                                                            <source src="{{exercise.video.url}}" type="video/ogg">
                                                            Your browser does not support the videos.
                                                        </video>
                                                    </div>
                                                {% else %}
                                                    <div class="embed-responsive">
                                                        {{ exercise.description }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            {% else %}
                <div class="menu">
                    <div class="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading area">
                                <a class="accordion-toggle">
                                    <i class="far fa-smile"></i>
                                    No hay ejercicios asignados para este día.
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {%  endif %}
            </div>
            {% endfor %}

            </div>
        </div>
    </div>