{% load static %}
<script src="{% static "js/sidebar.js" %}"></script>

<div class="animated slideInLeft" style="margin-top: 10px">
    <div style="width: 100%;">
        <form class="form-inline md-form form-sm mt-0">
            <div class="col" style=" max-width: 15px;">
                <i class="fas fa-search" aria-hidden="true"></i>
            </div>

            <div class="col" style="width: 100%;">
                <input id="search_clinical" class="form-control form-control-sm ml-3 white-text" style="width: 99%;" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form>
    </div>

    <div id="list_data" class="list-group list-group-flush scrollbar scrollbar-primary" style="margin-top: 10px">
        {% if user.is_medic %}
            {% for patient in patients %}
                <a onclick="get_clinical_history_by_patient({{ patient.pk }})" class="list-group-item list-group-item-action waves-effect"> Pt. {{ patient.last_name }} {{ patient.first_name }}</a>
            {% endfor %}
        {% else %}
            {% for clinical_history in clinical_histories %}
                <a onclick="get_clinical_history({{ clinical_history.pk }})" class="list-group-item list-group-item-action waves-effect"> Dr. {{ clinical_history.medic.last_name }} {{ clinical_history.medic.first_name }}</a>
            {% endfor %}
        {%  endif %}
    </div>
</div>