<div class="modal-header text-center" style="background: honeydew">
    <h5 class="modal-title w-100 font-weight-bold">Registrate</h5>
</div>
<div class="modal-body">
    <div  class="md-form text-center">
        <div style="margin-bottom: 15px">Actualmente no contas con un usuario.</div>
        <div>Descargate la app desde el store para poder registrarte.</div>
    </div>

</div>
<div class="modal-footer d-flex justify-content-center" style="height: 65px">
<i class="fab fa-google-play fa-2x"></i>
</div>
</div>
