
<div class="modal-header">
    <h5 class="modal-title">Necesitamos que respondas tu pregunta secreta</h5>
</div>
<div class="modal-body">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Pregunta Secreta</label>
        </div>
        <select class="custom-select" id="questionSelector">
            {% for question in questions %}
                <option class="dropdown-item" value="{{ question.pk }}">{{ question.description }}</option>
            {% endfor %}

        </select>
    </div>
    <input id="answer" class="form-control" type="text" placeholder="Respuesta">
</div>
<div class="modal-footer">
    <div class="col-auto">
        <button onclick="check_answer()" class="btn btn-primary mb-2">Responder</button>
    </div>
</div>

<script>
    function check_answer(){
        var question_id = $('#questionSelector').val();
        var answer = $('#answer').val();
        var google_token=sessionStorage.google_token;
        $.ajax({
            type: 'POST',
            url: '{% url "check_answer" %}',
            data: {
                'secret_question_id': question_id,
                'google_token': google_token,
                'answer': answer
            },
            success: function(response) {
                if(response.compare){
                    console.log('Log In Successfuly Summited' + response.compare);
                $('#modalGeneric').modal('hide');
                location.reload();
                } else {
                    console.log('The answer dont match ' + response.compare);
                }

            },
            error: function(response){
                data = response.responseJSON;
                console.log("There was an error." + data.message)
            },
        });

        return false;
    };

</script>




