html {
    height: 100%;
}

body {
    height: 100%;
    background: #355C7D;
}

.box {
    height: 100%;
}

#sidebar_row {
    height: 100%;
}

.data {
    width: 100%;
    height: 100%;
    position: relative;
}

.white-text {
    color: white;
}

#card_session {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#card_history {
    margin-top: 10px;
}

nav {
    background: #355C7D;
}

.nav-item {
    margin-left: 10px;
    vertical-align: middle;
}

.dropdown-menu {
    min-width: auto;
    padding: auto;
}

.container {
    min-height: 100%;
    margin: 0;
    background:transparent
}

.logo_image_index {
    width: 300px;
    height: 300px;
}

.logo_title_index {
    color: lightcoral;
}

.popover {
    background: lightcoral;
    border-color: lightcoral;
}

.popover .arrow:after {
    border-right-color: lightcoral;
}

.popover-body {
    color: white;
}

.google_center {
    margin: auto;
    width: 200px;
    height: 50px;
}

.fa-google-play,
.fa-accessible-icon{
    color: #1da1f2;
}

.button_lightcoral {
    background: lightcoral;
}

.card {
    width: 95%;
    min-height: 500px;
    height: auto;
    display:inline-block;
}

.card-title {
    display: inline-block;
    margin-bottom: 0;
}

.card-header {
    background: lightcoral;
}

.icon-card-header {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 15px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background: lightcoral;
    border-color: lightcoral;
}


div.col > .form-control::placeholder {
    color: whitesmoke;
    opacity: 0.5;
}

.fa-search {
    color: white;
}

.fa-key, .fa-question {
    color: #355C7D;
}

.md-form input[type="text"]:focus:not([readonly]),
.md-form input[type="password"]:focus:not([readonly]){
    -webkit-box-shadow: 0 1px 0 0 lightcoral;
    box-shadow: 0 1px 0 0 lightcoral;
    border-bottom: 1px solid lightcoral;
}

.custom-select:focus {
    border-color: lightcoral;
    outline: 0;
    box-shadow: 0 0 0 .2rem #f0c3c8;
}

.slick-slide {
    margin-left:10px;
}

.slick-list {
    margin-left:-10px;
}

.fa-arrow-circle-right,
.fa-arrow-circle-left {
    color: #355C7D;
    top: 45%;
    left: 45%;
    position:absolute;
}

.fa-times, .fa-history {
    color: white;
}

.loader {
    min-height: 50px;
    min-width: 50px;
    background: url("../images/loader.gif") no-repeat;
    background-position: center;
}

.profile-pic {
    height: 150px;
    width: 150px;
    background: url("../images/loader.gif") no-repeat;
}


