html {
    height: 100%;
}

body {
    height: 100%;
    background: #355C7D;
}

.box {
    height: 100%;
}

#sidebar_row {
    height: 100%;
}

.data {
    width: 100%;
    height: 100%;
    position: relative;
}

.white-text {
    color: white;
}

#card_session {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card_routine_medic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card_routine_patient {
    margin-top: 10px;
}

#card_history {
    margin-top: 10px;
}

nav {
    background: #355C7D;
}

.nav-item {
    margin-left: 10px;
    vertical-align: middle;
}

.dropdown-menu {
    min-width: auto;
    padding: auto;
}

.container {
    min-height: 100%;
    margin: 0;
    background:transparent
}

.logo_image_index {
    width: 300px;
    height: 300px;
}

.logo_title_index {
    color: lightcoral;
}

.popover {
    background: lightcoral;
    border-color: lightcoral;
}

.popover .arrow:after {
    border-right-color: lightcoral;
}

.popover-body {
    color: white;
}

.google_center {
    margin: auto;
    width: 200px;
    height: 50px;
}

.fa-google-play,
.fa-accessible-icon{
    color: #1da1f2;
}

.button_lightcoral {
    background: lightcoral;
}

.card {
    width: 95%;
    min-height: 500px;
    height: auto;
    display:inline-block;
}

.card-title {
    display: inline-block;
    margin-bottom: 0;
}

.card-header {
    background: lightcoral;
}

.icon-card-header {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 15px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background: lightcoral;
    border-color: lightcoral;
}


div.col > .form-control::placeholder {
    color: whitesmoke;
    opacity: 0.5;
}

.fa-search {
    color: white;
}

.fa-key, .fa-question {
    color: #355C7D;
}

.md-form input[type="text"]:focus:not([readonly]),
.md-form input[type="password"]:focus:not([readonly]){
    -webkit-box-shadow: 0 1px 0 0 lightcoral;
    box-shadow: 0 1px 0 0 lightcoral;
    border-bottom: 1px solid lightcoral;
}

.custom-select:focus {
    border-color: lightcoral;
    outline: 0;
    box-shadow: 0 0 0 .2rem #f0c3c8;
}

.slick-slide {
    margin-left:10px;
}

.slick-list {
    margin-left:-10px;
}

.fa-arrow-circle-right,
.fa-arrow-circle-left {
    color: #355C7D;
    top: 45%;
    left: 45%;
    position:absolute;
}

.fa-times, .fa-history, .fa-dumbbell {
    color: white;
}

.loader {
    min-height: 50px;
    min-width: 50px;
    background: url("../images/loader.gif") no-repeat;
    background-position: center;
}

.profile-pic {
    height: 150px;
    width: 150px;
    background: url("../images/loader.gif") no-repeat center;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.center-info {
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

.menu .accordion-heading {  position: relative; }
.menu .accordion-heading .edit {
    position: absolute;
    top: 8px;
    right: 30px;
}
.menu .area { border-left: 4px solid #f38787; }
.menu .collapse.in { overflow: visible; }

.accordion{margin-bottom:20px;}
.accordion-group{margin-bottom:2px;border:1px solid #e5e5e5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.accordion-heading{border-bottom:0;}
.accordion-heading .accordion-toggle{display:block;padding:8px 15px;}
.accordion-toggle{cursor:pointer;}
.accordion-inner{padding:9px 15px;border-top:1px solid #e5e5e5;}

.list-group-item-action:hover {
    z-index: 0;
}

.scroll {
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

#listSession {
    height:300px;
    display: block;
}