<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    {% if user.is_authenticated %}
        <a class="navbar-brand" href="#">Dr. {{ request.user }}</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- we need this empty section to align the rest to the right -->
        </ul>
        <a class="nav-link disabled" href="#">icon 1</a>
        <a class="nav-link disabled" href="#">icon 2</a>
        <a class="nav-link disabled" href="#">icon 3</a>
    </div>
</nav>